html {
  font-family: Georgia, serif;
}

body {
  background: linear-gradient(to right, #3525af, #9153c9);
}

.resume {
	width: 700px;
  min-height: 27.6cm;
	background: #fff;
}

header {
  display: flex;
  padding: 0 50px;
}

.initial {
  padding-left: 10px;
  padding-top: 18px;
  font-weight: bold;
  font-size: 30px;
  color: #fff;
	background: #D04441;
  width: 80px;
  line-height: 140px;
}

.info {
  padding: 40px;
}

.name {
  padding-left: 15px;
  padding-top: 30px;
  font-size: 30px;
	color: #D04441;
}

.name span {
  font-weight: bold;
}

.contact {
  padding-left: 15px;
  padding-top: 1em;
  font-size: 13px;
}

.content {
  display: flex;
  margin-top: 40px;
}

.left {
  color: white;
	background: #D04441;
  width: 250px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.profile {
 padding-top: 3px;
 line-height: 0.6;
}

.profiletitle {
	font-weight: bold;
  font-size: 16px;
  padding-top: 18px;
}

.profilecont {
  font-size: 12px;
  line-height: 1.3;
  padding-top: 1em;
}

.education {
 padding-top: 30px;
 line-height: 0.6;
}

.edutitle {
  font-weight: bold;
  font-size: 16px;
}

.educationcont1 {
  display: flex;
  font-size: 12px;
  line-height: 1.3;
}

.time1 {
  padding: 8px;
}

.time2 {
  padding-left: 18px;
}

.educationcont2 {
  display: flex;
  font-size: 12px;
  line-height: 1.3;
}

.comtitle {
  padding-top: 20px;
}

.c {
  font-size: 12px;
  line-height: 1.3;
}

.right {
  padding-left: 50px;
  padding-right: 15px;
  width: calc(100% - 220px);
  font-size: 13px;
  line-height: 1.3;
}

.right span {
  font-weight: bold;
}

.righttitle1 {
  color: #D04441;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  border-bottom: solid;
  line-height: 0.1em;
}

.righttitle1 span {
  background: #fff;
  padding-right: 10px;
}

.righttitle2 {
  color: #D04441;
  padding-top: 1em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  border-bottom: solid;
  line-height: 0.1em;
}

.righttitle2 span {
  background: #fff;
  padding-right: 10px;
}

.righttitle3 {
  color: #D04441;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  padding-top: 5px;
}

.righttitle4 {
  color: #D04441;
  padding-top: 1em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  border-bottom: solid;
  line-height: 0.1em;
}

.righttitle4 span {
  background: #fff;
  padding-right: 10px;
}

.ex span {
  font-weight: normal;
  font-size: 11px;
}

.note {
  font-size: 10px;
  width: 200px;
  padding-left: 20px;
}
