html {
  font-family: Georgia, serif;
}

body {
  background: linear-gradient(to right, #3525af, #9153c9);
}

.resume {
	width: 800px;
	background: #fff;
  margin: 25px auto;
}

header {
  display: flex;
  padding: 0 40px;
}

.initial {
  text-align: center;
  font-size: 30px;
  color: white;
	background: #EF5350;
  width: 90px;
  line-height: 150px;
}

.info {
  padding: 40px;
}

.name {
  font-weight: bold;
  font-size: 30px;
	color: #EF5350;
}

.content {
  display: flex;
  margin-top: 40px;
}

.left {
  color: white;
	background: #EF5350;
  width: 280px;
  padding-left: 15px;
}

.profile {
 padding-top: 3px;
 line-height: 0.6;
}

.profiletitle {
	font-weight: bold;
  font-size: 16px;
}

.profilecont {
  font-size: 13px;
  line-height: 1.3;
}

.education {
 padding-top: 3px;
 line-height: 0.6;
}

.edutitle {
  font-weight: bold;
  font-size: 16px;
}

.educationcont1 {
  display: flex;
  font-size: 13px;
  line-height: 1.3;
  margin: 0;
}

.educationcont2 {
  display: flex;
  font-size: 13px;
  line-height: 1.3;
}

.c {
  font-size: 13px;
  line-height: 1.3;
}

.right {
  padding-left: 30px;
  width: 620px;
  font-size: 13px;
  line-height: 1.3;
}

.right span {
  font-weight: bold;
}

.righttitle1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  border-bottom: solid;
  line-height: 0.1em;
}

.righttitle1 span {
  background: #fff;
  padding-right: 10px;
}

.righttitle2 {
  padding-top: 1em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  border-bottom: solid;
  line-height: 0.1em;
}

.righttitle2 span {
  background: #fff;
  padding-right: 10px;
}

.righttitle3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  padding-top: 5px;
}

.righttitle4 {
  padding-top: 1em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  border-bottom: solid;
  line-height: 0.1em;
}

.righttitle4 span {
  background: #fff;
  padding-right: 10px;
}

.ex span {
  font-weight: normal;
  font-size: 11px;
}
